
<h2 style="color: #B00100; margin: 0 auto">create new item</h2> <br/>

<!--
<form action="/items/new" method="post">
    <label>
      <input type="text" name="title" />
    </label>  
      <input type="submit" />  
</form>
-->
<!-- post in database. using Gem Simple Form -->

<%= simple_form_for @item do |f| %>               
 <%= f.input :name %>                                
 <%= f.input :price %> 
 <%= f.input :description, label: t("item.description") %>   <!-- Transleted into RU by /config/locales/ru.yml -->

 <%= f.button :submit, class: "btn-primary" %>     <!-- Save button  -->
<%end%>

<%= render partial: 'shared/email' %>